#baseimage
{
  position: absolute;
  top: 0px;
  left: 0px;
}

#container{
  position:relative;
  border:1px solid blue;
}

#pathsCanvas
{
  position:absolute;
  border:1px solid red;
}

#car2
{
  position: absolute;
  top: 200px;
  left: 450px;
  /*transform: rotate(90deg);*/
} 

.rotateUp
{   
  transform: rotate(90deg); 
}

.car
{
  position: absolute;
} 

