#container{
  position:relative;
  border:1px solid blue;
}

#baseimage
{
  position: absolute;
  top: 0px;
  left: 0px;
}

#pathsCanvas
{
  position:absolute;
  border:1px solid red;
}

#car2
{
  position: absolute;
  top: 200px;
  left: 450px;
  /*transform: rotate(90deg);*/
} 

.rotateUp
{   
  transform: rotate(90deg); 
}

.car
{
  position: absolute;
} 

#settingsPanel {
  position: relative;
  border: 1px solid blue;
  top: 500px;
  left:0px;
  width: 700px;
}